* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.relative {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    position: relative;
}

.fixed {
    width: 800px;
    height: 100px;
    background-color: blue;
    position: fixed;
    z-index: 5;
    top: 80px;
    left: 20px;
}

.absolute {
    background-color: rgb(123, 213, 107);
    position: absolute;
    top: 0;
    left: 200px;
    height: 80px;
    width: 400px;
    z-index: 3;
}

/*========================================================================================= */

.z-card {
    margin-top: 100px;
    background-color: rgb(194, 188, 201);
    height: 300px;
    position: relative;

}

.z {
    width: 100px;
    height: 100px;
    position: absolute;
    color: aliceblue;
    padding: 5px;
    border-radius: 10px;
}

.z1 {
    background-color: blue;
    left: 10px;
    top: 10px;
}

.z2 {
    background-color: red;
    left: 25px;
    top: 25px;
}

.z3 {
    background-color: yellow;
    left: 40px;
    top: 40px;
}

.z4 {
    background-color: green;
    left: 55px;
    top: 55px;
}

/* ========================================================================================= */

.cont1 {
    width: 100%;
    background-color: cornflowerblue;
    height: 400px;
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    position: absolute;
}

.top {
    top: 0;
    left: 0;
    background-color: rgb(234, 53, 53);
}

.right {
    top: 0;
    right: 0;
    background-color: rgb(53, 107, 187);
}

.bottom {
    bottom: 0;
    right: 0;
    background-color: yellow;
}

.left {
    bottom: 0;
    left: 0;
    background-color: gold;
}

/* ========================================================================================== */


.cont2 {
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;



}

.divcont {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 15px;
}

.card {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: blue;
    text-align: center;
    align-content: center;




}

.c1 {
    position: relative;
    top: 80px;
    left: 80px;
    background-color: rgb(239, 129, 129);
}

.c2 {
    background-color: rgb(129, 153, 239);
}

.c3 {
    background-color: rgb(239, 129, 129);
}

.c4 {
    background-color: rgb(136, 219, 150);
}

.c5 {
    background-color: rgb(239, 129, 129)
}

.c6 {
    background-color: rgb(129, 153, 239);
}

.c7 {
    background-color: rgb(239, 129, 129);
}

.c8 {
    background-color: rgb(136, 219, 150);
}

.c9 {
    background-color: rgb(239, 129, 129);
}

.c10 {
    background-color: rgb(129, 153, 239);
}

.c11 {
    background-color: rgb(136, 219, 150);
}

.c12 {
    background-color: rgb(136, 219, 150);
}

/* ======================================================================================= */
.cont3 {
    width: 100%;
    height: 400px;
    background-color: rgb(129, 153, 239);
    position: relative;
    
}

.boxshadow {
    text-align: center;
    align-content: center;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left:  50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    
}
.b1{
    margin-top: -20px;
    margin-left: 20px;
    border:2px solid blue ;
}
.b2{ margin-top: -15px;
    margin-left: 15px; 
    border:2px solid rgb(128, 61, 19) ;}
.b3{
    margin-top: -10px;
    margin-left: 10px;
    border:2px solid rgb(227, 80, 80) ;}
.b4{
    margin-top: -5px;
    margin-left: 5px;
    border:2px solid rgb(103, 239, 123) ;}

.b5{
    
    border:2px solid rgb(63, 56, 82) ;
}
/* =============================================================================== */
.cont4{
    width: 100%;
    height: 100vh;
    background-color: blanchedalmond;
    padding: 20px;
}
.box1 {
    width: 300px;
    padding: 2px;
    margin-bottom: 20px;
}


.box-1 {
    border-top: 3px dashed black;
    border-right: 2px solid black;
    border-bottom: 3px dotted black;
    border-left: 2px solid black;
}


.box-2 {
    border-style: dashed solid dashed dotted;
    border-width: 2px;
    border-color: black;
}


.box-3 {
    border: 1px dotted black;
}


.box-4 {
    border: 2px solid black;
}


.box-5 {
    border: 2px solid blue;
}


.box-6 {
    border: 2px solid green;
    border-bottom-style: dotted;
}
/* ================================================================================================== */
.img{
    position: relative;padding: 30px;
    background-color: rgb(129, 94, 41);
    height: 100vh;

    
}


.images{
    border-radius: 20px;
position: absolute;
width: 600px;
height: 400px;
}
.images1{z-index: 5;}
.images2{
    top: 60px;
    left: 60px;
}
.images3{top: 120px;
    left: 120px;}
.images4{top: 180px;
    left: 180px;}